.signup-content {
  padding-top: 85px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pills {
  height: 56px;
  width: 265px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3rem;
  border-radius: 3px;
  cursor: pointer;
}

.pill {
  padding-bottom: 10px;
}

.selected {
  border-bottom: 2px solid black;
}

.signup-card {
  display: flex;
  flex-direction: column;
  width: 532px;
  height: 570px;
  padding-left: 99px;
  padding-right: 99px;
  padding-top: 10px;
  padding-bottom: 50px;
  align-items: center;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 8px;
  margin-top: 15px;
}

.form-logo {
  width: 92px;
  border-radius: 100%;
  margin-bottom: 15px;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.names-form {
  display: inline-block;
  width: 100%;
}

.signup-input {
  padding: 12px 16px;
  font-size: 1rem;
  margin-bottom: 10px;
  box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 20%);
  border: none;
  border-radius: 5px;
}

.namef {
  width: 48.5%;
}

.namef2 {
  margin-right: 10px;
}

.signup-form-btn {
  padding: 15px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  background-color: #0078d7;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.signup-form-btn:hover {
  background-color: #026ec7;
}

.policy-form {
  font-weight: light;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.8rem;
  margin-bottom: 10px;
  text-align: center;
}
.bottom-text {
  text-align: center;
  margin-bottom: 10px;
}
.login-bottom {
  text-align: center;
}

.signup-content a {
  color: black;
}

.text-danger {
  color: red;
}

a:visited {
  text-decoration: none;
  color: black;
}

.college-label {
  margin-right: 10px;
}

.colleges {
  margin-top: 10px;
}

.college-list {
  width: 78.8%;
  height: 30px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 30%);
}

.password-input {
  width: 100%;
  display: flex;
}

.vision-input {
  position: relative;
}

.vision {
  position: relative;
  left: 280px;
  top: -55px;
  margin-left: 10px;
}

.login-bottomx {
  padding-top: 10px;
  text-align: center;
  padding-bottom: 20px;
  text-decoration: none;
  color: #0078d7;
}

.login-bottomx:hover {
  text-decoration: underline #0078d7;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.title-forgot {
  padding-bottom: 10px;
}

.title-forgot h2 {
  font-weight: lighter;
  font-size: 1.3rem;
}

.vision3 {
  position: relative;
  left: 165px;
  top: -55px;
  margin-left: 10px;
}

/* not found */
.notFound {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notFound h1 {
  font-size: 120px;
  color: #344048;
  font-style: italic;
}

.notFound h2 {
  font-size: 80px;
  color: #344048;
  font-style: italic;
  font-weight: bolder;
}

.notfound-btn {
  margin-top: 50px;
  background-color: #0078d7;
  color: white;
  border: none;
  border-radius: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1.5rem;
  font-style: italic;
}

.notfound-btn a {
  color: white;
}

.notfound-btn:hover {
  background-color: #026ec7;
  cursor: pointer;
}

.notfound-btn:hover a {
  text-decoration: none;
}
