@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('http://fonts.cdnfonts.com/css/gotham');
@import url('//db.onlinewebfonts.com/c/3a47f5f06b5484abfeee9eac90348a9c?family=Gotham');
* {
  margin: 0;
  padding: 0;
  /* font-family: "Maven Pro", sans-serif !important; */
  /* font-family: 'IBM Plex Mono', monospace; */
  /* font-family: 'Gotham', sans-serif;  */
  /* font-family: 'Gotham Black', sans-serif;  */
  /* font-family: 'Gotham', sans-serif;  */
  /* font-family: 'Gotham Thin', sans-serif;  */
  /* font-family: 'Gotham XLight', sans-serif; */
   /* font-family: 'Gotham Book', sans-serif;  */
   /* font-family: 'Gotham Ultra', sans-serif; 
    */
    font-family: "Gotham", sans-serif; 
  box-sizing: border-box;
  outline: none !important;

}

a:hover {
  text-decoration:none !important;
}

:root {
  --primary: #0078d7;
  --secondary: #f7f5f1;
}

.container {
  padding-right: 16px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

ul {
  list-style-type: none;
}

 /* @supports(padding:max(0px)) {
    body, header, footer {
        padding-left: min(0vmin, env(safe-area-inset-left));
        padding-right: min(0vmin, env(safe-area-inset-right));
    }
} */